@import "../../styles/variables.scss";

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 25px;
    margin-top: 30px;
    direction: ltr;
}

.loading,
.error,
.empty {
    text-align: center;
    padding: 50px;
}

.error {
    color: #ef4444;
    background: #fee2e2;
    border-radius: 12px;

    h3 {
        margin-bottom: 10px;
    }
}

.empty {
    color: #64748b;
    font-size: 1.1rem;
}